<div class="grid">
    <div class="image"> <img  width="100%" src="images/top.png">
    </div>

    <div class="nav"><h2 color="#333"><center> ..::Contact us::.. <hr color="#333" /></center> </font></h2><br> 
    <ul style="list-style-type:square;">
    <left>
   <br> 
<a target=_blank href="http://www.twitter.com/twfdisturbed">Twitter</a>
<br>
<a target=_blank  href="http://www.youtube.com/twfdisturbed">Youtube</a>
<br>
<a target=_blank  href="https://www.facebook.com/twfdisturbed">Facebook</a>
<br>
<a target=_blank  href="https://www.instagram.com/twfdisturbed">instagram</a>
<br>
<a target=_blank  href="mailto:battle_ship_faq@mail.com">E-mail</a>
    </left>
 </div>

    <div align="center" class="content">
   <center> <h2><font color="#333"> ..::Social Media::.. <hr color="#333" /> </font></h2></center>
   <br> 
<a target=_blank  href="http://www.twitter.com/twfdisturbed"><img src =images/twitter.png></a>

<a target=_blank  href="http://www.youtube.com/twfdisturbed"><img src=images/youtube.png></a>

<a target=_blank  href="https://www.facebook.com/twfdisturbed"><img src=images/facebook.png></a>

<a target=_blank  href="https://www.instagram.com/twfdisturbed"><img src=images/instagram.png></a>
    </div>

    <div class="footer">
     <center>   <p> <font color="#000"> App by :</font> Twfdisturbed </p></center>
     </div>       
    
</div>