<div class="grid">
    <div class="image"> <img  width="100%" src="images/top.png">
    </div>

    <div class="nav"><h2 color="#333"><center> ..::FAQ::.. <hr color="#333" /></center> </font></h2><br> 
    <ul style="list-style-type:square;">
    <left>
    <li><b> What programing language did you use ? </b></li>
    <li>Ruby is the main programing language. Also some java script.</li> 
    <li><b>Question #2</b></li>
    <li>Anwser</li>
    <li><b>Question #3</b></li>
    <li>Anwser</li>
    </ul>
    </left>
    </div>

    <div align="center" class="content">
   <center> <h2><font color="#333"> ..::Sugguest a question::.. <hr color="#333" /> </font></h2></center>
   <br> 
   Ask your Own Question that might be added to the list <br>
    <a href="mailto:battle_ship_faq@mail.com"><img src="images/email_thumb.png"> <br>E-mail us</a> 
    </div>

    <div class="footer">
     <center>   <p> <font color="#000"> App by :</font> Twfdisturbed </p></center>
     </div>       
    
</div>