<div class="grid">
    <div class="image"> <img  width="100%" src="images/top.png"></div>

    <div align="center" class="content">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/q0qpQ8doUp8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div>
    <div align="center" class="nav">    <h2> <font color="#333"> Welcome to Battle Ship.</font></h2> <hr color="#333" />
        <form method="post" action='/index'>
            <div class="nxtbtn">
                <button class=" button2">Start Game</button>
            </div>    
        </form>
  <center><h3>Learn how to play. Watch the video on the right</h3></center>
       

    </div>

    <div class="footer">
     <center>   <p> <font color="#000"> App by :</font> Twfdisturbed </p></center></div>       
    

</div>