<html lang="en">
<head>
         <link rel="stylesheet" type="text/css" href="css/main.css">
         <script src="/js/java.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Battle Ship !!</title>
</head>
<body bgcolor="grey" onload="goaway()">
        <nav width=100% align="center">
  
                <div class="dropdown">
               <button class="dropbtn"><b>Navigation</b></button>
               <div class="dropdown-content">
                     <a href="index">Home</a>
                     <a href="contact">Social Media</a>
                     <a href="size">New Game</a>
               </div>
             </div>
            <div class="dropdown">
               <button class="dropbtn"><b>Useful Links</b></button>
               <div class="dropdown-content">
                     <a href="rules">Rules</a>
                     <a href="faq">F.A.Q.</a>
                     <a href="page3.html">Demo</a>
               </div>
             </div>
             <div class="dropdown">
               <button class="dropbtn"><b>Awesome Websites</b></button>
               <div class="dropdown-content">
                     <a target=_blank  href="http://www.disturbedmedia.com">Disturbedmedia.com</a>
                     <a target=_blank  href="http://www.minedminds.org/">Mined Minds</a>
                     <a target=_blank  href="https://www.w3schools.com/">W3schools.com</a>
               </div>
             </div>
             <div class="dropdown">
               <button class="dropbtn"><b>Social Media</b></button>
               <div class="dropdown-content">
                     <a target=_blank  href="http://www.twitter.com/twfdisturbed">Twitter @twfdisturbed</a>
                     <a target=_blank  href="https://www.instagram.com/twfdisturbed">Instagram @twfdisturbed</a>
                     <a target=_blank  href="http://www.youtube.com/twfdisturbed">Youtube</a>
                     <a target=_blank  href="http://www.facebook.com/twfdisturbed">Facebook</a>
                     <a target=_blank  href="mailto:battle_ship_faq@mail.com">E-Mail</a>
               </div>
               </div>
                 </nav>


  <article>
    <%=yield%>
</article>
</body>