<div class="grid">
    <div class="image"> <img  width="100%" src="images/top.png"></div>

    <div align="center" class="nav"><h3><font color="#333"> ..::Pick Board Size::..</font></h3> <hr color="#333" /> <br>
    <form accept-charset="UTF-8" action="size" autocomplete="off" method="post">
    <input checked="checked" name="boardsize" type="radio" value="12" /> 12 x 12 <br /> 
    <input name="boardsize" type="radio" value="24" /> 24 x 24 <br />
    <input name="boardsize" type="radio" value="36" /> 36 x 36 <br />
    </br> 
    <button type="submit" autofocus value="Submit">Submit</button></form> </div>
    
<div align="center" class="content">
<img src="images/grid_12.png">

</div>
    <div class="footer">
     <center>   <p> <font color="#000"> App by :</font> Twfdisturbed </p></center></div>       
    

</div>
