body {
    color: #CCCCCC;
    border-color: #000000;
    background-color: black;
}
.grid { 
    display: grid; 
    grid-template-columns: 1fr 9fr 1fr;
    grid-gap: 0px;
    grid-auto-rows: minmax(100px, auto);
    /* grid-gap:1em; */
    border: 1px solid white;
    background-color: #000080;
    grid-row-gap:    0px;
    grid-column-gap: 0rem;
    font: bold white;
}

.header {
    grid-row:1;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #111111;
    border: #FFFFFF 2px double;
}

.nav {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    border: #FFFFFF 2px dashed;
    background-color: black;
}

.box1 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    border: #FFFFFF 1px solid;
    background-color: #000000;
}

.footer {
    grid-row:4;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #111111;
    border: #FFFFFF 2px double;

}

.newsimg {
    grid-row-start:2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    border: #FFFFFF 1px double;
    background-color: #666666;

}

.content {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start:2;
    grid-column-end: 3;
    border: #FFFFFF 1px double;
    background-color: #333333;
}

.content2img {
    grid-row:3;
    grid-column:3;
    border: #FFFFFF 1px double;
    background-color: #666666;
}

.content2 {
    grid-row:3;
    grid-column-start:2;
    grid-column-end: 2;
    border: #FFFFFF 1px solid;
    background-color: #000880;
}
